<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Классификатор сущностей в документе</title>
  </head>
  <body>
   <div class="container">
    <form>
      <h4>Документ</h4>
          <select id="Документ">
            <option></option>
            <option value="Разрешение">Разршение</option>
            <option value="Паспорт">Паспорт</option>
            <option value="Экспликация">Экспликация</option>
        </select>

      <h4>Кем выдан</h4>
            <select id="Кем выдан">
                <option></option>
                <option value="БТИ">БТИ</option>
            </select>
        <br />
        <input id="submit" type="button" class="pull-right" value="Submit" />
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Документ</th>
          <th>Орган выдачи</th>
          <th>Описание</th>
        </tr>
      </thead>
        <tbody id="result"></tbody>
    </table>
  </div>

    <script type="text/javascript">

        function removeOptions(objSelect) {
            while (objSelect.options.length > 0)
                objSelect.options[0] = null;
        }
      
    
      var element_ids = ["Документ", "Кем выдан"];

      
      function getValues() {
        var values = {};
        for (var i = 0; i < element_ids.length; i++) {
          var element = document.getElementById(element_ids[i]);
          if (element != null) {
              values[element_ids[i]] = element.value;
          }
        }
        console.log(values);
        return values;
      }

      function run() {

        var values = getValues();

        // AJAX > to check //
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/filter", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function() {
          if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
            console.log(this.responseText);
            var objects = JSON.parse(this.responseText);
            console.log(objects);

            var table = document.getElementById("result");
            if (table != null) {
              table.innerHTML = "";

              for (var i = 0; i < objects.length; i++) {
                var object = objects[i];

                var tr = document.createElement("tr");
                var td = null;

                td = document.createElement("td");
                td.appendChild(document.createTextNode(object['Документ']));
                tr.appendChild(td);

                td = document.createElement("td");
                td.appendChild(document.createTextNode(object['Кем выдан']));
                tr.appendChild(td);

                td = document.createElement("td");
                td.appendChild(document.createTextNode(object['description']));
                tr.appendChild(td);

                table.appendChild(tr);
              }
            }
          }
        }

        var params = "_="+ Math.floor(Date.now() / 1000);
        for (var key in values) {
          params += "&"+ key +"="+ values[key];
        }
        xhr.send(params);
      }

      var submit = document.getElementById("submit");
      if (submit != null) {
        submit.addEventListener("click", run);
      }

      run();
    </script>
  </body>
</html>